/********** Base styles **********/
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  margin:0px;
  padding:0px;
  background-color: #d3e397;
}

* {
  box-sizing: border-box;
  
}

h1 {
  font-size: 2.8em;
  text-align: center;
}

h2 {
  font-size: 2em;
  float:right;
  text-align: center;
  width: 180px;
  border: 1px solid black;
  margin: -1px;
  padding: 5px 15px 5px 15px;
  color: #fff;
  position: relative;
  top: 15px;
  right: 15px;
  margin-bottom: 15px;
}

h2#chicken {
  background-color: #7c786a;
 }

#beef {
  background-color: #eb6e44;
  }

#sushi
{
  background-color: #376775;
 }

p {
font-size: 1.6em;
padding: 15px;
margin: 0px;
clear: right;
}

article {
margin:15px;
background-color: #8dcdc1;
border: 1px solid black;
min-height: 223px;
}

/* Simple Responsive Framework. */

.row {
  width: 100%;
  padding:0px 15px 0px 15px;
  min-width: 320px;
 
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4, .col-lg-6, .col-lg-12 {
    float: left;
      }
  .col-lg-4 {
    width: 33.33%;
     }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-4, .col-md-6, .col-md-12 {
    float: left;
  }
   .col-md-4 {
    width: 33.33%;
  }
   .col-md-6 {
    width: 50%;
  }
   .col-md-12 {
    width: 100%;
  }
   body {
    background-color: #E2E397;
   }
}
/********** small devices only **********/
@media (max-width: 767px) {
  .col-xs-12 {
   float: left;
}
  .col-xs-12 {
   width: 100%;
}
   body {
    background-color: #FEFFB1;
   }
}